body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

/* ============= home-page ============= */

.home-page{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/foto.2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.obasity-bacgraund{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.home-section{
    display: flex
}


/* ============= left-menu ============= */
.left-menu{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-section{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.left-menu img{
    width: 200px;
    height: 180px;
    cursor: pointer;
}

.logo-img{
    cursor: pointer;
    margin-right: 25px;
}
.logo{
    position: absolute;
    top: 103px;
    left: 108px;
}

.logo h6{
    color: white;
    font-size: 13px;
    margin: 0;
    cursor: pointer;
}

.logo p{
    color: white;
    font-size: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.left-menu ul li a{
    font-size: 25px;
    margin: 15px 0;
    color: white;
    transition: 0.3s;
}

.left-menu ul li a:hover{
    color: rgb(212, 198, 0);
}

.katagoria{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 30px;
}

.katagoria a{
    color: wheat;
    border: solid 1px white;
    padding: 9px 30px;
    font-size: 15px;
    margin: 10px 0;
    border-radius:5px;
    transition: 0.3s;
    text-align: center;

}


.katagoria a:hover{
    color: rgb(212, 198, 0);
    border: solid 1px rgb(212, 198, 0);
}

.left-footer{
    position: absolute;
    bottom: 50px;
    padding-right: 11px;
}

.language{
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0  10px;
    height: 35px;
    border: solid 1px white;
    border-radius: 5px;
    margin: 5px 0;
    width: 63px;
    cursor: pointer;
    transition: 0.3s;
}

.language:hover{
    background-color: white !important;
    color: black;
}

.language p {
    margin: 0;
}

.language i {
    font-size: 10px;
    margin-left: 10px;
}

.language-section{
    position: absolute;
    top: 40px;
}

.adress{
    width: 35px;
    height: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    border-radius: 5px;
    margin-left:14px;
    transition: 0.3s;

}

.adress:hover{
    color: rgb(212, 198, 0);
    border: solid 1px rgb(212, 198, 0);
}

.mail-adress{
    margin-top: 20px;
    color: rgb(192, 192, 192);
    transition: 0.3s;
    font-size: 14px;
}

.mail-adress:hover{
    color: white;
    text-decoration: underline;
}

/* ============= //left-menu ============= */

/* ============= home-left ============= */

.home-left{
    width: 30%;
}

.home-left-img{
    width: 100%;
    height: 25%;
    background-image: url(../img/foto5.png);
    background-size: cover;
}

.home-left-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-cart{
    width: 100%;
    height: 50%;
    background-color: white;
    display: flex;

}

.cart-section{
    width: 50%;
    height: 100%;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/foto8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}


.cart-section:hover .cart-section-hover{
    visibility: visible;
    opacity: 1;
    padding: 20px 20px 35px 20px;
    width: 100%;
    height: 100%;
}

.cart-section h3{
    font-size: 25px;
    color: white;
}

.cart-section img{
    width: 130px;
    height: 130px;
}

.cart-section-hover{
    background-image: url(../img/foto9.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 150%;
    height: 150%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.cart-section-hover img{
    width: 70px;
    height: 80px;
}


.cart-section-hover h3{
    font-size: 18px;
    color: black;
    margin: 0;
}

.cart-section-hover p{
    font-size: 15px;
    color: black;
}

.hover-between{
    text-align: center;
}

.hover-between img{
    margin: 0 auto;
}

.hover-between a{
    padding: 8px 30px;
    font-size: 18px;
    font-weight: bold;
    border: black 1px solid;
    color: black;
    margin-bottom: 20px;
    transition: 0.3s;
    
}

.hover-between a:hover{
    border: solid 1px rgb(212, 198, 0);
    color: rgb(212, 198, 0);
    
}

.home-footer{
    width: 100%;
    height: 25%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-footer h6{
    color: white;
    margin: 0;
}

.info-img img{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

.info-icon{
    width: 90%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-icon .card-icons{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-p{
    display: flex;
    justify-content: space-between;
    width: 95%;

}

.icons-p p{
    color: white;
    font-size: 11px;
    text-align: center;
    margin: 0;
}


.info-icon i{
    font-size: 18px;
    color:  rgb(212, 198, 0);
}

.info-icon h6{
    font-size: 10px;
}

#percent i{
    font-size: 30px;
}

#percent .icons{
    width: 60px;
    height: 60px;

}

.info-icon .icons{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1px rgb(212, 198, 0);
    margin-bottom: 10px;
}

.awrow-icon i{
    font-size: 25px;
    color:  rgb(212, 198, 0);
    
}




/* ============= partners ============= */

.partners-right{
    position: absolute;
    width: 45%;
    height: 100%;
    background-color: white;
    right: 0;
    top: 0;
    /* position: relative; */
}

.partners{
    width: 33.33%;
    height: 25%;
    position: relative;
}

.partners img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partners-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 40px;
    padding-top: 60%;
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
    transition: 0.3s;
    overflow: hidden;
}

#url:hover{
    text-decoration: underline;
}

.hover-icon{
    border-bottom: black solid 1px;
    /* padding: 10px; */
    display: flex;
    align-items: center;
}

.hover-icon i{
    font-size: 30px;
    margin-right: 10px;
    color: black;
    transition: 0.3s;
}

.hover-icon i:hover{
    color: rgb(212, 198, 0);
}

.hover-icon h4{
    margin-top: 10px;
}

.partners-hover:hover{
    opacity: 0.9;
    z-index: 1;
    padding-top: 40px;
}
.partners-btn{
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    top: 44%;
    left: -90px;
}

.partners-btn button{
    margin: 3px 0 ;
    background-color: black;
    color: white;
    border: solid 1px white;
    transition: 0.3s;
}

.partners-btn button:hover{
    color: rgb(212, 198, 0);
    border: solid 1px rgb(212, 198, 0);
}

/* ============= //partners ============= */



